In [139]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [140]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [141]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [142]:
## Encode categorical variables (Gender)
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [143]:
## OneHot Encodding na coluna Geography

onehoet_encoder_geo = OneHotEncoder()
geo_encoder = onehoet_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder_df = pd.DataFrame(geo_encoder, columns = onehoet_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [144]:
## Combine one hot encoder columns with the original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [145]:
## Divide the dataset into independent and dependent features
X = data.drop('EstimatedSalary', axis = 1) # Aqui foi retirado a coluna Exited
y = data['EstimatedSalary']

In [146]:
## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [147]:
# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [148]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehoet_encoder_geo, file)


with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regression Problem statement

In [149]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [150]:
## Build Our ANN Model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1], )),  ## HL1 Connected with input layer
    Dense(32, activation='relu'), ## HL2
    Dense(1) ## Output layer
])

In [151]:
## Compile the model
# Para regressão o loss usamos mean_absolute_error diferente da classificação
# keras.io/api/losses/
model.compile(optimizer = 'adam', loss = "mean_absolute_error", metrics = ['mae'])

In [152]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                832

 dense_19 (Dense)            (None, 32)                2080

 dense_20 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [153]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [154]:
## Set up the TensorBoard
log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [155]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 20, restore_best_weights = True )

In [156]:
## Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorflow_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 100382.8672 - mae: 100382.8672 - val_loss: 98532.6172 - val_mae: 98532.6172
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99643.3984 - mae: 99643.3984 - val_loss: 97009.1797 - val_mae: 97009.1797
Epoch 3/100
250/250 [==============================] - 0s 815us/step - loss: 96959.1797 - mae: 96959.1797 - val_loss: 93059.2422 - val_mae: 93059.2422
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 91666.0469 - mae: 91666.0469 - val_loss: 86479.3594 - val_mae: 86479.3594
Epoch 5/100
250/250 [==============================] - 0s 840us/step - loss: 83936.8281 - mae: 83936.8281 - val_loss: 77896.2578 - val_mae: 77896.2578
Epoch 6/100
250/250 [==============================] - 0s 707us/step - loss: 74786.5547 - mae: 74786.5547 - val_loss: 68868.1484 - val_mae: 68868.1484
Epoch 7/100
250/250 [==============================] - 0s 799us/step - loss: 65905.6562 - mae: 65905.6562 - val_loss: 61122.4375 - val_mae: 61122.4375
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 58777.1602 - mae: 58777.1602 - val_loss: 55518.8125 - val_mae: 55518.8125
Epoch 9/100
250/250 [==============================] - 0s 660us/step - loss: 54216.8672 - mae: 54216.8672 - val_loss: 52434.3320 - val_mae: 52434.3320
Epoch 10/100
250/250 [==============================] - 0s 725us/step - loss: 51811.3711 - mae: 51811.3711 - val_loss: 51130.6953 - val_mae: 51130.6953
Epoch 11/100
250/250 [==============================] - 0s 724us/step - loss: 50804.5664 - mae: 50804.5664 - val_loss: 50754.7773 - val_mae: 50754.7773
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50405.9883 - mae: 50405.9883 - val_loss: 50629.6055 - val_mae: 50629.6055
Epoch 13/100
250/250 [==============================] - 0s 989us/step - loss: 50222.7070 - mae: 50222.7070 - val_loss: 50571.6094 - val_mae: 50571.6094
Epoch 14/100
250/250 [==============================] - 0s 782us/step - loss: 50132.6289 - mae: 50132.6289 - val_loss: 50551.0898 - val_mae: 50551.0898
Epoch 15/100
250/250 [==============================] - 0s 722us/step - loss: 50072.3203 - mae: 50072.3203 - val_loss: 50526.9961 - val_mae: 50526.9961
Epoch 16/100
250/250 [==============================] - 0s 854us/step - loss: 50031.7734 - mae: 50031.7734 - val_loss: 50506.9688 - val_mae: 50506.9688
Epoch 17/100
250/250 [==============================] - 0s 743us/step - loss: 49988.6602 - mae: 49988.6602 - val_loss: 50488.3398 - val_mae: 50488.3398
Epoch 18/100
250/250 [==============================] - 0s 671us/step - loss: 49954.6289 - mae: 49954.6289 - val_loss: 50471.3398 - val_mae: 50471.3398
Epoch 19/100
250/250 [==============================] - 0s 691us/step - loss: 49920.8359 - mae: 49920.8359 - val_loss: 50458.3281 - val_mae: 50458.3281
Epoch 20/100
250/250 [==============================] - 0s 742us/step - loss: 49894.9062 - mae: 49894.9062 - val_loss: 50445.1992 - val_mae: 50445.1992
Epoch 21/100
250/250 [==============================] - 0s 769us/step - loss: 49866.0742 - mae: 49866.0742 - val_loss: 50424.3242 - val_mae: 50424.3242
Epoch 22/100
250/250 [==============================] - 0s 695us/step - loss: 49842.6016 - mae: 49842.6016 - val_loss: 50421.7852 - val_mae: 50421.7852
Epoch 23/100
250/250 [==============================] - 0s 773us/step - loss: 49819.6172 - mae: 49819.6172 - val_loss: 50398.5469 - val_mae: 50398.5469
Epoch 24/100
250/250 [==============================] - 0s 955us/step - loss: 49800.3516 - mae: 49800.3516 - val_loss: 50392.9453 - val_mae: 50392.9453
Epoch 25/100
250/250 [==============================] - 0s 779us/step - loss: 49781.3281 - mae: 49781.3281 - val_loss: 50384.3867 - val_mae: 50384.3867
Epoch 26/100
250/250 [==============================] - 0s 834us/step - loss: 49762.6406 - mae: 49762.6406 - val_loss: 50377.5742 - val_mae: 50377.5742
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49745.1875 - mae: 49745.1875 - val_loss: 50362.1953 - val_mae: 50362.1953
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49730.4102 - mae: 49730.4102 - val_loss: 50362.3164 - val_mae: 50362.3164
Epoch 29/100
250/250 [==============================] - 0s 978us/step - loss: 49713.5117 - mae: 49713.5117 - val_loss: 50366.1562 - val_mae: 50366.1562
Epoch 30/100
250/250 [==============================] - 0s 926us/step - loss: 49699.6758 - mae: 49699.6758 - val_loss: 50357.1484 - val_mae: 50357.1484
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49684.3359 - mae: 49684.3359 - val_loss: 50343.6758 - val_mae: 50343.6758
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49669.8594 - mae: 49669.8594 - val_loss: 50324.4531 - val_mae: 50324.4531
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49657.9336 - mae: 49657.9336 - val_loss: 50320.0156 - val_mae: 50320.0156
Epoch 34/100
250/250 [==============================] - 0s 828us/step - loss: 49647.1719 - mae: 49647.1719 - val_loss: 50317.3867 - val_mae: 50317.3867
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49636.7148 - mae: 49636.7148 - val_loss: 50317.8516 - val_mae: 50317.8516
Epoch 36/100
250/250 [==============================] - 0s 822us/step - loss: 49623.8008 - mae: 49623.8008 - val_loss: 50310.4531 - val_mae: 50310.4531
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49616.4375 - mae: 49616.4375 - val_loss: 50310.8828 - val_mae: 50310.8828
Epoch 38/100
250/250 [==============================] - 0s 964us/step - loss: 49602.9688 - mae: 49602.9688 - val_loss: 50312.5547 - val_mae: 50312.5547
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49591.0625 - mae: 49591.0625 - val_loss: 50310.3203 - val_mae: 50310.3203
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49581.8906 - mae: 49581.8906 - val_loss: 50311.4219 - val_mae: 50311.4219
Epoch 41/100
250/250 [==============================] - 0s 986us/step - loss: 49570.7109 - mae: 49570.7109 - val_loss: 50308.3594 - val_mae: 50308.3594
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49566.7344 - mae: 49566.7344 - val_loss: 50317.4062 - val_mae: 50317.4062
Epoch 43/100
250/250 [==============================] - 0s 844us/step - loss: 49557.1484 - mae: 49557.1484 - val_loss: 50324.1562 - val_mae: 50324.1562
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49547.4883 - mae: 49547.4883 - val_loss: 50330.1523 - val_mae: 50330.1523
Epoch 45/100
250/250 [==============================] - 0s 947us/step - loss: 49542.1445 - mae: 49542.1445 - val_loss: 50320.8984 - val_mae: 50320.8984
Epoch 46/100
250/250 [==============================] - 0s 917us/step - loss: 49532.7266 - mae: 49532.7266 - val_loss: 50317.8438 - val_mae: 50317.8438
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49526.3633 - mae: 49526.3633 - val_loss: 50321.4453 - val_mae: 50321.4453
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49516.9531 - mae: 49516.9531 - val_loss: 50329.9766 - val_mae: 50329.9766
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49509.9922 - mae: 49509.9922 - val_loss: 50334.8672 - val_mae: 50334.8672
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49502.4141 - mae: 49502.4141 - val_loss: 50327.2812 - val_mae: 50327.2812
Epoch 51/100
250/250 [==============================] - 0s 936us/step - loss: 49497.0352 - mae: 49497.0352 - val_loss: 50343.7930 - val_mae: 50343.7930
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49490.3516 - mae: 49490.3516 - val_loss: 50346.2188 - val_mae: 50346.2188
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49483.8398 - mae: 49483.8398 - val_loss: 50356.7578 - val_mae: 50356.7578
Epoch 54/100
250/250 [==============================] - 0s 779us/step - loss: 49478.0352 - mae: 49478.0352 - val_loss: 50359.2070 - val_mae: 50359.2070
Epoch 55/100
250/250 [==============================] - 0s 786us/step - loss: 49470.1562 - mae: 49470.1562 - val_loss: 50350.7539 - val_mae: 50350.7539
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49466.3984 - mae: 49466.3984 - val_loss: 50349.7422 - val_mae: 50349.7422
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49460.9414 - mae: 49460.9414 - val_loss: 50353.4336 - val_mae: 50353.4336
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49450.5195 - mae: 49450.5195 - val_loss: 50359.0078 - val_mae: 50359.0078
Epoch 59/100
250/250 [==============================] - 0s 798us/step - loss: 49450.6016 - mae: 49450.6016 - val_loss: 50370.3945 - val_mae: 50370.3945
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49444.7031 - mae: 49444.7031 - val_loss: 50368.6055 - val_mae: 50368.6055
Epoch 61/100
250/250 [==============================] - 0s 797us/step - loss: 49438.7266 - mae: 49438.7266 - val_loss: 50358.6211 - val_mae: 50358.6211

In [157]:
## Load TensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [158]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 49066), started 0:45:45 ago. (Use '!kill 49066' to kill it.)

In [159]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 470us/step - loss: 50308.3594 - mae: 50308.3594
Test MAE : 50308.359375

In [160]:
model.save('regression_model.h5')

/home/marshal/anaconda3/envs/venvANN/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(